
.color-primary-0 { color: rgb(255, 255, 255) !important;}	/* Main Primary color */
.color-primary-1 { color: rgb(255, 255, 255) !important;}
.color-primary-2 { color: rgb(255, 255, 255) !important;}
.color-primary-3 { color: rgb(255, 255, 255)  !important;}
.color-primary-4 { color: rgb(255, 255, 255) !important;}